
#define DEFINE_BT_SW(_label, _name, _hold, _tap, ...) \
	_label: _name { \
		compatible = "zmk,behavior-hold-tap"; \
		#binding-cells = <2>; \
		flavor = "hold-preferred"; \
		tapping-term-ms = <1000>; \
		bindings = <_hold>, <_tap>; \
		__VA_ARGS__ \
	}

/ {
	behaviors {
		DEFINE_BT_SW(bt_sw0, bt_sw0, &none, &bt BT_SEL 0);
		DEFINE_BT_SW(bt_sw1, bt_sw1, &none, &bt BT_SEL 1);
		DEFINE_BT_SW(bt_sw2, bt_sw2, &none, &bt BT_SEL 2);
		DEFINE_BT_SW(bt_sw3, bt_sw3, &none, &bt BT_SEL 3);
		DEFINE_BT_SW(bt_sw4, bt_sw4, &none, &bt BT_SEL 4);
		DEFINE_BT_SW(bt_clr, bt_clr, &none, &bt BT_CLR);
	};
};
