#define DEF_BT_SEL_MACRO(_n) \
	bt_sel##_n: bt_sel##_n { \
		compatible = "zmk,behavior-macro"; \
		#binding-cells = <0>; \
		bindings = < &bt BT_SEL _n>; \
	}

#define DEFINE_BT_SW(_label, _name, _hold, _tap, ...) \
	_label: _name { \
		compatible = "zmk,behavior-hold-tap"; \
		#binding-cells = <2>; \
		flavor = "hold-preferred"; \
		tapping-term-ms = <1000>; \
		bindings = <_hold>, <_tap>; \
		__VA_ARGS__ \
	}

/ {
	behaviors {
		DEF_BT_SEL_MACRO(0);
		DEF_BT_SEL_MACRO(1);
		DEF_BT_SEL_MACRO(2);
		DEF_BT_SEL_MACRO(3);
		DEF_BT_SEL_MACRO(4);

		bt_clr_macro: bt_clr_macro {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = < &bt BT_CLR >;
		};

		bt_sw: bt_sw {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <1000>;
			bindings = <&kp>, <&kp>;
		};
	};
};

#define BT_SW(_n) &bt_sw &none &bt_sel##_n
#define BT_CLR() &bt_sw &none &bt_clr_macro
